<h1>followed {{user.firstname}}</h1>
<div *ngIf="followed">
    <div *ngFor="let follow of followed">
        <mat-card >
            <div class="avatar" >
                <a>
                    <img src="{{ url + 'get-image-user/' + follow.user.image }}" 
                    *ngIf="follow.user.image">
                    <img src="assets/user.png" *ngIf="!follow.user.image" >
                </a>
    
            </div>
            <div >
                <p>
                    <a [routerLink]="['/users-profile', follow.user._id]" mat-button>
                        {{ follow.user.firstname}} {{follow.user.lastname}}
                     </a>
                </p>
               
            </div>
            <div >
                <button mat-raised-button color="primary" 
                *ngIf="follows.indexOf(follow.user._id) < 0 " 
                (click)="followUser(follow.user._id)"> Following </button>
                <button mat-raised-button color="accent" 
                *ngIf="follows.indexOf(follow.user._id) >= 0" 
                (mouseenter)="mouseEnter(follow.user._id)" 
                (mouseleave)="mouseLeave(follow.user._id)" 
                [class.btn-danger]="follow.user._id == followUserOver" 
                (click)="unfollowUser(follow.user._id)">                 
                    <span *ngIf="follow.user._id == followUserOver; else following">
                        Unfollow
                    </span>
                    <ng-template #following>
                        <span>
                            Following
                        </span>
                     </ng-template>
    
                </button>
            </div>
        </mat-card>
    </div>
</div>
<ul>
    <li>
        <a mat-button color="accent" [routerLink]="['/followed', userPageId ,prev_page]">Previous</a>
    </li>
    <li>
        <a mat-button color="accent" [routerLink]="['/followed', userPageId ,next_page]">Next</a>
    </li>
</ul>