<h1 class="timeline">Timeline
    <button mat-raised-button color="primary" class="refresh"
    (click)="refresh($event)">refresh</button>
</h1>
<mat-card>
    <div id="publications">
        <div *ngFor="let publication of publications" >
            <mat-card class="publ">
                <div class="avatar">
                    <a >
                        <img *ngIf="publication.user.image" 
                        src="{{ url + 'get-image-user/' + publication.user.image }}"
                        >
                        <img *ngIf="!publication.user.image" 
                        src="src\assets\user.png" >
                    </a>
                </div>
    
                <div>
                    <a [routerLink]="['/users-profile', publication.user._id]" mat-raised-button color="primary">
                        {{publication.user.firstname + ' ' + publication.user.lastname}}
                    </a> 
                    <br><br>
                    <span >
                        {{(publication.create_at | amFromUnix) | amLocale: 'it' | amTimeAgo}}
                    </span>
                </div>    
    
                <h3 >
                    {{ publication.text }}
                </h3>
    
    
                <div *ngIf="publication.file != 'null'">
                    <button mat-raised-button color="accent"
                    (click)="showThisImage(publication._id)" 
                    *ngIf="showImage != publication._id">
                    show</button>
    
                    <button mat-raised-button color="primary"
                    (click)="hideThisImage(publication._id)" 
                    *ngIf="showImage == publication._id">
                    hide</button>
                </div>
    
                <div *ngIf="publication.file != 'null' && showImage == publication._id">    
                    <img src="{{ url + 'get-image-pub/' + publication.file }}" >
                </div>
            </mat-card> <hr>
        </div> 

    </div>
    <div *ngIf="publications && publications.length">
        <p>
            <button mat-raised-button color="warn" 
            (click)="viewMore()" *ngIf="!noMore">See more posts</button>
        </p>
    </div>
</mat-card>